.table {
  margin: 0 auto;
  overflow: scroll auto;
  position: relative;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .row {
    display: grid;
    gap: 0;
    grid-template-columns: 16rem 12rem 16rem 20rem;
    width: 100%;

    &.is-hide {
      display: none !important;
    }

    .cell {
      border-bottom: 0.1rem solid var(--c-gray);
      overflow: hidden;
      padding: 0.8rem 0;
      width: 100%;
    }
  }
  .header {
    background-color: #fff;
    text-align: center;
    width: 100%;
    z-index: 2;

    select {
      appearance: none;
      height: 100%;
      margin-top: -0.5rem;
      vertical-align: middle;
    }
  }
}

#loading {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
  z-index: 1000;

  &.is-hide {
    opacity: 0;
    visibility: hidden;
  }
}

.skeleton {
  display: none;
}
