.category {
  height: 100%;
  position: relative;

  .category-menu {
    padding: calc(0.5rem + env(safe-area-inset-top)) 0 0.5rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .category-main {
    margin: var(--gutter) 0 0;

    .category-content {
      padding-top: var(--height);
      margin-top: calc(-1 * var(--height));
    }
  }
}

/* FAQ */
.faq-container {
  .faq-question {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 1.5em;
    position: relative;

    &::before {
      content: "Q.";
      font-size: 1em;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
  .faq-answer {
    margin-top: calc(var(--gutter) * 0.5);
  }
}

/* carousel */
.carousel-dotted {
  display: flex;
  align-items: center;
  gap: calc(var(--gutter) * .5);
  margin: 0 auto;
  width: fit-content;

  a {
    background-color: var(--c-primary);
    border-radius: 99rem;
    display: block;
    height: 1em;
    width: 1em;
  }
}