html {
  font-size: 10px;
  touch-action: pan-x pan-y;
  user-select: none;
}

body {
  color: var(--c-txt);
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

.pageContent {
  box-shadow: 0 0 0.1rem #333;
  height: 100%;
  width: min(100%, var(--w-pc));
  margin: 0 auto;
  min-height: 100dvh;
  padding: var(--gutter);
  position: relative;

  main {
    .contentBody {
      min-height: calc(100dvh - (var(--gutter) * 2));
      .pageTitle {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
      }

      section {
        &:not(:last-child) {
          margin-bottom: calc(var(--gutter) * 1.5);
        }

        > *:not(:last-child) {
          margin-bottom: calc(var(--gutter) * 0.75);
        }

        .secTitle {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
  nav {
    background-color: red;
    border: 0.1rem solid #000;
    margin-left: calc((-1) * var(--gutter));
    margin-bottom: calc((-1) * var(--gutter));
    padding: 3.2rem 1.6rem calc(3.2rem + env(safe-area-inset-bottom));
    position: sticky;
    bottom: 0;
    left: 50%;
    width: min(
      calc(100% + var(--gutter) * 2),
      calc(var(--w-pc) + var(--gutter) * 2)
    );
    z-index: 100;
  }
}

/* background color */
.bgc-red {
  background-color: var(--c-red) !important;
  color: #fff !important;
}

/* button style */
.btn-primary {
  background-color: var(--c-primary);
  border-radius: 0.4rem;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 0.75em 2.5em;
  text-align: center;
  width: fit-content;
}
.btn-secondary {
  border: 0.1rem solid var(--c-primary);
  border-radius: 0.4rem;
  color: var(--c-primary);
  display: inline-block;
  font-weight: 700;
  padding: 0.75em 2.5em;
  text-align: center;
  width: fit-content;
}

.btn-icn {
  padding-right: 3.5em !important;
  position: relative;
  &::before {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(0, -50%);
  }
}
.btn-icn-openInNew {
  &::before {
    content: "\e89e";
  }
}

/* carousel */
.carousel-banner {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(var(--i), calc(100% - 3.2rem));
  overflow: scroll hidden;
  padding: 0.05rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .carousel-item {
    box-shadow: 0 0 0.1rem #333;
    scroll-snap-align: center;
    width: 100%;

    .txtBox {
      padding: 0.8rem;

      > *:not(:last-child) {
        margin-bottom: calc(var(--gutter) * 0.25);
      }

      .title {
        font-weight: 700;
      }
    }
  }
}

/* column */
.column-wrap {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(2, 1fr);
}

/* divider */
.divider-bottom {
  border-bottom: 0.1rem solid var(--c-gray);
  margin-bottom: var(--gutter);
  padding-bottom: var(--gutter);
}

/* icon */
.icn {
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  position: relative;

  &::before {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2.4rem;
    width: 2.4rem;
  }
}

.icn-small {
  height: 2rem;
  width: 2rem;

  &::before {
    font-size: 20px;
    height: 2rem;
    width: 2rem;
  }
}

.icn-close {
  &::before {
    content: "\e5cd";
  }
}

/* image */
.img-fullVis {
  width: calc(100% + var(--gutter) * 2);
  margin-left: calc((-1) * var(--gutter));
}

/* list style */
.list-dotted {
  .list-item {
    padding-left: 1em;
    position: relative;

    &::before {
      content: "・";
      display: block;
      font-size: 1em;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

/* text style */
.fs-huge {
  font-size: 3.2rem;
}
.fs-xlarge {
  font-size: 2.4rem;
}
.fs-large {
  font-size: 2rem;
}
.fs-medium {
  font-size: 1.6rem;
}
.fs-small {
  font-size: 1.2rem;
}
.fs-xsmall {
  font-size: 1rem;
}

.fw-bold {
  font-weight: 700;
}
.fw-light {
  font-weight: 300;
}

.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}

/* width */
.w-100 {
  width: 100%;
}
